<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>RateIt | SignUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/fullpage.css" />
    <link rel="stylesheet" href="../public/css/signinup.css" />
    <script src="../public/js/fullpage.js"></script>
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet" />
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
</head>

<body>
    <div id="fullpage">
        <div class="section">
            <!-- main -->
            <div class="main-w3layouts wrapper">
                <h1>SignUp</h1>
                <div class="main-agileinfo">
                    <div class="agileits-top">
                        <form action="#" method="post">
                            <input class="text" type="text" name="Username" placeholder="Username" required="" />
                            <input class="text email" type="email" name="email" placeholder="Email" required="" />
                            <input class="text" type="password" name="password" placeholder="Password" required="" />
                            <input class="text w3lpass" type="password" name="password" placeholder="Confirm Password"
                                required="" />
                            <div class="wthree-text">
                                <label class="anim">
                                    <input type="checkbox" class="checkbox" required="" />
                                    <span>I Agree To The Terms & Conditions</span>
                                </label>
                                <div class="clear"></div>
                            </div>
                            <input type="submit" value="SIGNUP" />
                        </form>
                        <p>
                            Already have an Account? <a href="/login"> Login Now!</a>
                        </p>
                    </div>
                </div>
                <ul class="colorlib-bubbles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="section fp-auto-height">
            <div class="footer">
                <div class="container-contact">
                    <p><a href="/">🔥RateIt🔥</a></p>
                    <p>📞(917) 291 8448 | 📪mban1@stevens.edu | 📍Stevens Institute of Technology</p>
                </div>
                <div class="container-copyright">
                    <p>© RateIt. All rights reserved. Developed by Mijeong Ban</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        new fullpage("#fullpage", {
            anchors: ["page1", "page2"],
            sectionsColor: ["#ea8685", "#2d3436"],
            autoScrolling: true,
            scrollHorizontally: true,
            controlArrows: true,
            verticalCentered: true,
            responsiveWidth: 0,
            responsiveHeight: 0
        });

        //methods
        fullpage_api.setAllowScrolling(true);
    </script>
</body>