.section:nth-child(1) {
  background-image: linear-gradient(
    to right,
    #ffeef9 0%,
    #ffcccc 40%,
    #ffb8b8 100%
  );
}
body {
  font-family: "Courier New", Courier, monospace !important;
  color: #4b4b4b !important;
}
.footer {
  font-family: Arial, Helvetica, sans-serif;
  color: #b2bec3;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
  font-family: "Lato", Calibri, Arial, sans-serif;
}

a {
  text-decoration: none !important;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  border: 0;
  color: #b2bec3 !important;
}
