@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lato);

.footer {
  font-family: Arial, Helvetica, sans-serif;
  color: #b2bec3;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
  font-family: "Lato", Calibri, Arial, sans-serif;
}

a {
  text-decoration: none !important;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  border: 0;
  color: #b2bec3 !important;
}

.form-body {
  border-radius: 0.1rem;
  background-color: #fbf2ee;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  color: #b2bec3;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5rem 1rem 1rem 1rem;
  /* font-family: "Lato", Calibri, Arial, sans-serif; */
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: #b2bec3;
}
a:hover {
  text-decoration: none;
  color: #b2bec3;
}
/* .section:nth-child(3) {
  background-image: linear-gradient(
    to right,
    #ffecd2 0%,
    #fcb69f 70%,
    #ffecd2 100%
  );
} */
.container-footer {
  /* width: 650px;
  height: 345px; */
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -105px; /* this is half the height of your div*/
  margin-left: -100px;
}
.logo-footer {
  font-weight: 150;
  font-family: "Lato", Calibri, Arial, sans-serif;
  color: #e6e9ed;
  font-size: 35px;
  position: relative;
  margin: 0;
  padding: 0 auto;
}

.word-footer {
  color: #e17055;
}

.right-footer,
.left-footer {
  font-family: arial;
  font-size: 70px;
  position: relative;
  top: 15px;
  color: #e17055;
  margin: 0 0 0 16px;
}

.text-footer {
  font-size: 12px;
  position: absolute;
  top: 75px;
  left: 80px;
}
.left-footer {
  margin: 0 25px 0 0;
}
