@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

html {
  height: 100%;
}

body {
  background: -webkit-linear-gradient(
    90deg,
    #ec6f66 10%,
    #f3a183 90%
  ); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(
    90deg,
    #ec6f66 10%,
    #f3a183 90%
  ); /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #ec6f66 10%, #f3a183 90%); /* IE10 */
  background: -o-linear-gradient(
    90deg,
    #ec6f66 10%,
    #f3a183 90%
  ); /* Opera 11.10+ */
  background: linear-gradient(90deg, #ec6f66 10%, #f3a183 90%); /* W3C */
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit;
}
.container {
  width: 500px;
  margin: 50px auto 0;
  text-align: center;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  border: 0;
}

button {
  margin-top: 20px !important;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  color: #b2bec3;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
  font-family: "Lato", Calibri, Arial, sans-serif;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  border: 0;
  color: #b2bec3;
}
