<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>RateIt | Evaluation Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/fullpage.css" />
    <link rel="stylesheet" href="../public/css/form.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <script src="../public/js/fullpage.js"></script>
</head>

<body>
    <div id="fullpage">
        <div class="section">
            <div class="container-fluid w-75 p-3 form-body">
                <h3 class="text-center">Rate a Course<h3>
                        <h5 class="text-center">{{courseList.code}} {{courseList.title}}</h5>
                        <form method="GET" action="/posts/added">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="instructorName">Instructor Name</label>
                                    <input type="text" class="form-control" name="instructorName" id="instructorName"
                                        placeholder="Name" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="semesterAndYear">Term</label>
                                    <select class="form-control" name="selectedTerm">
                                        <option>2019 Spring</option>
                                        <option>2018 Fall</option>
                                        <option>2018 Summer I/II</option>
                                        <option>2018 Spring</option>
                                        <option>2017 Fall</option>
                                        <option>2017 Summer I/II</option>
                                        <option>2017 Spring</option>
                                        <option>2016 Fall</option>
                                        <option>2016 Summer I/II</option>
                                        <option>2016 Spring</option>
                                        <option>Even Before</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="question1">Overall Rating</label>
                                    <select class="form-control" name="question1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="question2">The difficulty level of the course</label>
                                    <select class="form-control" name="question2">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="question3">Instructor Rating</label>
                                    <select class="form-control" name="question3">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="question4">Comments about the instructor</label>
                                    <textarea class="form-control" name="question4" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="question5">What knowledge/skill would you suggest other
                                    student
                                    get
                                    familiar with in order to succeed in this course?</label>
                                <textarea class="form-control" name="question5" rows="2"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="question6">How is the course graded? (mid-term, final,
                                    quizzes
                                    etc.)</label>
                                <textarea class="form-control" name="question6" rows="2"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="question7">Would you recommend this course to a fellow
                                    student in
                                    your
                                    program? If yes, why?</label>
                                <textarea class="form-control" name="question7" rows="2"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="question8">More Info</label>
                                <textarea class="form-control" name="question8" rows="2"></textarea>
                            </div>
                            <button type="submit" class="btn btn-secondary float-center">
                                Submit
                            </button>
                        </form>
            </div>
        </div>

        <div class="section fp-auto-height">
            <div class="logo-small">
                <div class="container-footer">
                    <div class="logo-footer">
                        <span class="left-footer">
                            <</span> <a href="/">RateIt</a> <span class="right-footer">/>
                                </span>
                                <div class="text-footer">
                                    <span class="word-footer">Course</span><span class="web">Evaluation</span>
                                </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="container-contact">
                    {{!-- <p><a href="/">🔥RateIt🔥</a></p> --}}
                    <p>📞(917) 291 8448 | 📪mban1@stevens.edu | 📍Stevens Institute of Technology</p>
                </div>
                <div class="container-copyright">
                    <p>© RateIt. All rights reserved. Developed by Mijeong Ban</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        new fullpage("#fullpage", {
            anchors: ["page1", "page2"],
            sectionsColor: ["", "#2d3436"],
            autoScrolling: true,
            scrollHorizontally: true,
            controlArrows: true,
            verticalCentered: true,
            responsiveWidth: 0,
            responsiveHeight: 0
        });

        fullpage_api.setAllowScrolling(true);
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>